// General Button styling
.btn{
    background: #BDBDBD;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    &:hover{
        background: #757575;
    }
}
.btn-buyNow{
    color: #fff;
    background: #ef5350;
    &:hover{
        background: #e53935;
    }
}
.single-product .btn-moreInfo{
    width: 100%;
    text-align: center;
}